.ads-hide .textwidget.custom-html-widget ins.adsbygoogle{display:none!important;}
.ads-hide.ads-display .textwidget.custom-html-widget ins.adsbygoogle{display:none!important;}
.ads-hide .textwidget.custom-html-widget{display:none!important;}
.ads-hide .adsbygoogle{display:none!important;}